.logo {
  padding: 25px 25px 15px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 18px 25px;
  cursor: pointer;
  transition: all 0.3s;
  color: #e2e8f0;
  border-left: 4px solid transparent;
}

li:hover {
  background: rgba(255,255,255,0.1);
  color: white;
  border-left-color: #2563eb;
}

.divider {
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 20px 0;
}

.coming-soon {
  li {
    color: #94a3b8;
    cursor: not-allowed;
    font-style: italic;
    
    &:hover {
      background: none;
      border-left-color: transparent;
    }
    .logout{
  background:#ef4444;
  color:white;
  padding:10px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}
  }
}